* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    
    
}



.add-project-button {
    margin: 2%;
    padding: 1%;
    align-self:flex-start ;
    border-radius: 35px;
    background-color: white;
    border: solid #7200ff 2px ;
    transition: transform 0.25s ease-in-out;
    box-shadow: 1px 1px 10px #c15dff;
    
}

.add-project-button:hover {
    transform: scale(.9);
    cursor: pointer
}

.project-container{
    height: 100vh;
    width: 40vw;
    overflow: auto;
}

.project-card {
    display: flex;
    padding: 1em;
    border: solid black 1px;
    align-self: flex-start;
    justify-self: start;
    margin: 2em;
    border-radius: 35px;
    background-color: white;
    border: solid #7200ff 2px ;
    transition: transform 0.25s ease-in-out;
    box-shadow: 1px 1px 5px #c15dff;
    transition: transform 0.08s ease-in-out;
}

.project-card * {
    flex: 1;
    margin: 1%;
}

.project-card:hover{
    transform: scale(1.1);
}

.add-todo {
    border-radius: 35px;
    color: white;
    border: none;
    background-color: #00b893;
}

.remove-project {
    border-radius: 35px;
    color: white;
    border: none;
    background-color: #e20000;
}

.expand-project {
    
    border-radius: 35px;
    color: white;
    border: none;
    background-color: #ffc03a;

}

.project-card button:hover {
    cursor: pointer
}

.project-card button {
    transition: transform 0.25s ease-in-out;
}

.project-card button:active{
    transform: scale(.7);
}

.todo-card {
    padding: 1em;
    border: solid black 1px;
    margin: 2%;
    flex: 1;
    max-height: 8vh
}

.close-container {
    background-color: red;
    color: white;
    margin: 2%;
    position: absolute;
    right: 0;
}

.todo-modal {
    padding: 1em;
    width: 40vw; 
}

.expand-project {
    background-color: orange;
}

.todo-container {
    height: auto;
    width: 100%;
    flex: 1;
    background-color: #7200ff;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, rgb(255, 255, 255), #7200fd);
}

.main-container {
    height: auto;
    width: 30vw;
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}