* {
    margin: 0;
    padding: 0;
}

.project-card {
    padding: 1em;
    border: solid black 1px;
    display: flex;
    width: 30vw;
}

.todo-modal {
    padding: 1em;
    width: 40vw;
}

.expand-project {
    background-color: orange;
}